/* ***************** */
/* RESET CSS */
/* ***************** */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.3s;
}

body {
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);

  color: var(--gray-200);
  background-color: var(--black-300);

  overflow-x: hidden;
}

section {
  --section-spacing: 100px;
  margin-bottom: var(--section-spacing);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
input {
  display: inline-block;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-2);
  color: var(--white);
}

/* ***************** */
/* REUSABLE ELEMENTS */
/* ***************** */
.heading-primary {
  font-size: clamp(44px, calc(36px + 2.1vw), 66px);
  font-weight: 700;
  line-height: calc(76 / 66);
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 48px;
  font-weight: 600;
  line-height: calc(58 / 48);
  text-transform: capitalize;
}

.subheading-secondary {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: var(--green);
  margin-bottom: 16px;
}

.img-box {
  --box-spacing: 20px;
  --img-border-radius: var(--border-radius-md);
  position: relative;
}

.img-box::after {
  content: "";
  position: absolute;
  top: calc((-1) * var(--box-spacing));
  left: calc((-1) * var(--box-spacing));
  z-index: -1;

  width: calc(100% + var(--box-spacing) * 2);
  height: calc(100% + var(--box-spacing) * 2);

  background-color: #353536;
  border-radius: calc(var(--box-spacing) + var(--img-border-radius));
}

.img-box > img {
  border-radius: var(--img-border-radius);
}

.underline {
  --underline-margin-bottom: 35px;
  --underline-height: 1px;
  --underline-width: 100%;
  position: relative;
  margin-bottom: var(--underline-margin-bottom);
}

.underline::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  bottom: -8px;

  width: var(--underline-width);
  border-bottom: var(--underline-height) solid var(--green);
}
