/* ***************** */
/* HEADER */
/* ***************** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 86px;
  margin: 0 -15px;
  margin-bottom: 90px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar-toggler {
  display: none;
  padding: 4px;
  background-color: var(--white);
}

.navbar-toggler-icon {
  color: var(--black-300);
  --ionicon-stroke-width: 30px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-nav.order-first {
  order: -1;
}

.nav-link {
  position: relative;
  line-height: 1;
  color: var(--gray-100);
  text-transform: capitalize;
}

.nav-link::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--green);
  width: 0;

  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-link:hover {
  color: var(--white);
}

.nav-link:hover::before {
  width: 100%;
}

/* ***************** */
/* HERO */
/* ***************** */
.hero {
  margin-bottom: 180px;
}

.hero-img-container {
  grid-row: 1 / 3;
}

.hero-img-box {
  max-width: 470px;
}

.hero-heading {
  margin-bottom: 48px;
}

.hero-heading > .heading-primary {
  margin-bottom: 24px;
}

.hero-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: var(--border-radius-md);
  background-color: var(--white);
}

.hero-form-select-box {
  display: flex;
  align-items: center;
  gap: 29px;
}

.hero-form-select {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-icon-box {
  padding: 12px;
  border: 1px solid var(--gray-100);
  border-radius: 50%;
}

.hero-icon {
  font-size: 24px;
  color: var(--green);
}

.hero-form-label {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 8px;
}

.hero-form-label > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.hero-form-value {
  line-height: 1;
  color: var(--black-300);
}

.hero-rate {
  display: flex;
  align-items: center;
  gap: 34px;
}

.hero-rate-number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
}

.hero-rate-number > span {
  color: var(--blue);
}

.hero-rate-text {
  line-height: 1;
}

/* ***************** */
/* FEATURES */
/* ***************** */

.features-heading-box {
  margin-bottom: 48px;
}

.features-heading-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-explore-link {
  display: none;
}

.draft {
}
/* .features-body-box {
  grid-row: 2 / 3;
  grid-column: 1/-1;
}

.features-link-box {
  justify-self: end;
}

.features-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;

  gap: 10px;
}

.features-link:hover {
  color: var(--white);
} */
