@media (max-width: 991px) {
  /* ***************** */
  /* REUSABLE ELEMENTS */
  /* ***************** */
  .img-box {
    --box-spacing: 14px;
    --img-border-radius: 10px;
  }

  /* ***************** */
  /* ACCORDION */
  /* ***************** */
  .accordion-button {
    align-items: flex-start;
  }

  /* ***************** */
  /* LAYOUT */
  /* ***************** */
  .grid--2-cols,
  .grid--3-cols {
    --grid-col: 1;
  }

  .heading-primary {
    font-size: 44px;
  }

  /* ***************** */
  /* HEADER */
  /* ***************** */
  .navbar {
    margin: 0;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: initial;
  }

  /* ***************** */
  /* HERO */
  /* ***************** */
  .hero .grid {
    justify-items: center;
  }

  .hero-img-container {
    grid-row: 2 / 3;
    margin-bottom: calc(68px - var(--row-gap));
  }

  .hero-text-container {
    margin-bottom: calc(60px - var(--row-gap));
  }

  .hero-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
  }

  .hero-form .btn {
    width: 100%;
  }

  .hero-form-select-box {
    flex-direction: column;
    align-items: flex-start;
  }

  /* ***************** */
  /* FEATURES */
  /* ***************** */
  .feature-intersect-bg {
    height: calc(100% - 90px);
  }

  .d-explore-link {
    display: none;
  }

  .m-explore-link {
    display: inline-block;
    margin-top: 54px;
  }

  /* ***************** */
  /* WCU */
  /* ***************** */
  .services > .container > .grid,
  .wcu > .container > .grid {
    gap: 68px;
  }

  .service-text-container {
    grid-row: 1;
  }

  /* ***************** */
  /* FOOTER */
  /* ***************** */
  .footer-form > .btn {
    width: 100%;
  }

  .footer-text-box {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* ***************** */
  /* CAROUSEL */
  /* ***************** */
  .carousel-inner {
    --carousel-col: 1;
  }

  .carousel-inner::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    flex-basis: 90%;
  }

  /* ***************** */
  /* FOOTER */
  /* ***************** */
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-bottom-right {
    flex-direction: column;
    gap: 16px;
  }
}
