@media (max-width: 991px) {
  /* REUSABLE ELEMENTS */
  .img-box {
    --box-spacing: 14px;
    --img-border-radius: 10px;
  }

  /* LAYOUT */
  .grid--2-cols,
  .grid--3-cols {
    --grid-col: 1;
    /* gap:60px; */
  }

  .heading-primary {
    font-size: 44px;
  }

  /* BUTTON */

  .btn.card-btn {
    width: initial;
  }

  /* HEADER */
  .navbar {
    margin: 0;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: initial;
  }

  /* HERO */
  .hero {
    margin-bottom: 90px;
  }

  .hero .grid {
    justify-items: center;
  }

  .hero-img-container {
    grid-row: 2 / 3;
    margin-bottom: calc(60px - var(--row-gap));
  }

  .hero-text-container {
    margin-bottom: calc(68px - var(--row-gap));
  }

  .hero-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
  }

  .hero-form .btn {
    width: 100%;
  }
  .hero-form-select-box {
    flex-direction: column;
    align-items: flex-start;
  }

  /* FEATURES */
  .m-explore-link {
    display: inline-block;
    margin-top: 120px;
  }

  .d-explore-link {
    display: none;
  }

  /* ***************** */
  /* FOOTER */
  /* ***************** */
  .footer-grid {
    gap: 58px;
  }
  .footer-connect {
    width: 100%;
  }

  .footer-text {
    width: 100%;
  }

  .footer-input-form button {
    width: 100%;
  }

  .term-flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* .container.grid.grid--2-cols {
    gap: 35px;
  }
  .features-body-box {
    grid-row: 2/3;
  }
  .features-link-box {
    justify-self: center;
    margin-top: 114px;
  }
 */

@media (max-width: 600px) {
  .carousel-inner {
    --carousel-cols: 1;
  }

  /* ACCORDION */
  .accordion-item {
    --acd-padding-inline: 16px;
    --acd-padding-block: 14px;
  }

  .accordion-text {
    max-width: 80%;
  }

  /* FAQ */
  .faq-heading-box {
    margin-bottom: 32px;
  }

  .faq-heading-box .heading-text {
    max-width: 100%;
  }
}
